:root {
  --background-color-dark: rgb(25, 25, 36);
  --background-color-form: rgb(68, 68, 102);
}

@font-face {
  font-family: Norse-Bold;
  src: url(font/Norse-Bold.otf);
}

.grid-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "img intro"
  "img form"
  "img button"; 
}

.item-img {
  grid-area: img;
  background-image: url('img/klemen-vrankar-lcT_p8kLCsc-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-intro {
  display: flex;
  grid-area: intro;
  background-color: var(--background-color-dark);
  color: white;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.25em;
}

.item-form {
  grid-area: form;
  background-color: var(--background-color-form);
  font-size: 1.25em;
}

.item-button {
  grid-area: button;
  background-color: var(--background-color-dark);
}

.odin-banner {
  grid-area: img;
  position: relative;
  display: flex;
  top: 20vh;
  background: rgba(255, 255, 255, 0.15);
  text-align: center;
  height: 15vh;
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.odin-img {
  position: relative;
  height: 80%;
  align-self: center;
}

.odin-title {
  font-size: 8vh;
  font-family: Norse-Bold; 
}

.credit {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  color: white;
  padding: 5px;
  font-size: 12px;
  bottom: 4vh;
  align-self: center;
}

.credit>a:link, .credit>a:visited {
  color: white;
}

.credit>a:hover {
  color:grey;
}

#right-side-text {
  margin: 0 100px 0 25px;
}

.intro-paragraph {
 padding-bottom: 50px;
}