.grid-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "img intro"
  "img form"
  "img button"; 
}

.item-img {
  grid-area: img;
  /* background-color: blue; */
  background-image: url('klemen-vrankar-lcT_p8kLCsc-unsplash.jpg');
  background-size: cover;
}

.item-intro {
  grid-area: intro;
  background-color: red;
}

.item-form {
  grid-area: form;
  background-color: green;
}

.item-button {
  grid-area: button;
  background-color: purple;
}

.credit {
  position: relative;
  top: 95vh;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  margin: auto;
  color: white;
  padding: 5px;
}

.credit>a:link, .credit>a:visited {
  color: white;
}

.credit>a:hover {
  color:grey;
}